<h1>Listing ts</h1>

<table>
  <tr>
    <th>Name</th>
  </tr>

<% @ts.each do |t| %>
  <tr>
    <td><%=h t.name %></td>
    <td><%= link_to 'Show', t %></td>
    <td><%= link_to 'Edit', edit_t_path(t) %></td>
    <td><%= link_to 'Destroy', t, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New t', new_t_path %>